<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiv.image.hub.mapper.ImageMapper">

    <resultMap id="BaseResultMap" type="com.tiv.image.hub.model.entity.Image">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="imageName" column="image_name" jdbcType="VARCHAR"/>
        <result property="imageIntro" column="image_intro" jdbcType="VARCHAR"/>
        <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
        <result property="imageCategory" column="image_category" jdbcType="VARCHAR"/>
        <result property="imageTags" column="image_tags" jdbcType="VARCHAR"/>
        <result property="imageSize" column="image_size" jdbcType="BIGINT"/>
        <result property="imageWidth" column="image_width" jdbcType="INTEGER"/>
        <result property="imageHeight" column="image_height" jdbcType="INTEGER"/>
        <result property="imageScale" column="image_scale" jdbcType="DOUBLE"/>
        <result property="imageFormat" column="image_format" jdbcType="VARCHAR"/>
        <result property="thumbnailUrl" column="thumbnail_url" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="spaceId" column="space_id" jdbcType="BIGINT"/>
        <result property="reviewStatus" column="review_status" jdbcType="INTEGER"/>
        <result property="reviewMessage" column="review_message" jdbcType="VARCHAR"/>
        <result property="reviewerId" column="reviewer_id" jdbcType="BIGINT"/>
        <result property="reviewTime" column="review_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,image_name,image_intro,
        image_url,image_category,image_tags,
        image_size,image_width,image_height,
        image_scale,image_format,thumbnail_url,
        user_id,space_id
        review_status,review_message,
        reviewer_id,review_time,
        create_time,update_time,deleted
    </sql>

</mapper>
