<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiv.image.hub.mapper.PictureMapper">

    <resultMap id="BaseResultMap" type="com.tiv.image.hub.model.entity.Picture">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="picName" column="pic_name" jdbcType="VARCHAR"/>
        <result property="picIntro" column="pic_intro" jdbcType="VARCHAR"/>
        <result property="picUrl" column="pic_url" jdbcType="VARCHAR"/>
        <result property="picCategory" column="pic_category" jdbcType="VARCHAR"/>
        <result property="picTags" column="pic_tags" jdbcType="VARCHAR"/>
        <result property="picSize" column="pic_size" jdbcType="BIGINT"/>
        <result property="picWidth" column="pic_width" jdbcType="INTEGER"/>
        <result property="picHeight" column="pic_height" jdbcType="INTEGER"/>
        <result property="picScale" column="pic_scale" jdbcType="DOUBLE"/>
        <result property="picFormat" column="pic_format" jdbcType="VARCHAR"/>
        <result property="thumbnailUrl" column="thumbnail_url" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="reviewStatus" column="review_status" jdbcType="INTEGER"/>
        <result property="reviewMessage" column="review_message" jdbcType="VARCHAR"/>
        <result property="reviewerId" column="reviewer_id" jdbcType="BIGINT"/>
        <result property="reviewTime" column="review_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pic_name,pic_intro,
        pic_url,pic_category,pic_tags,
        pic_size,pic_width,pic_height,
        pic_scale,pic_format,thumbnail_url,
        user_id,
        review_status,review_message,
        reviewer_id,review_time,
        create_time,update_time,deleted
    </sql>

</mapper>
